@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.episodesFilterContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 86px 210px 61px 210px;

    @media (max-width: 1439px) {
        padding: 86px 96px 61px 96px;
    }

    @media (max-width: 768px) {
        padding: 92px 24px 32px 24px;
    }
}

.episodesImage {
    @media (max-width: 768px) {
        width: 174.16px;
        height: 136px;
    }
}

.filtersContainer {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

.filterContainer1 {
    position: relative;
    @include filter_style4;
    @media (max-width: 768px) {
        width: 312px;
    }
}

.dropdown {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;

    .dropdownItem {
        padding: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;

        &:hover {
            background-color: rgba($color: #2196F3, $alpha: 0.7);
        }

        .dropdownItemName {
            font-weight: 700;
        }

        .dropdownItemCode {
            color: gray;
        }
    }
}

.input1 {
    width: 436px;
}